/* add css module styles here (optional) */


.node-enter {
  opacity:0;
  transform: translateY(0px);
}
.node-enter-active {
  opacity:1;
  transition: opacity 300ms ease;
}
.node-exit {
  opacity: 1;
}
.node-exit-active {
  transition:  transform 300ms;
}
